.historyDiv, .bookmarkDiv {
    width: 700px;
}

.website {
    width: 200px;
}

.searchForm input {
    vertical-align: middle;
    margin: 5px 5px 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 12px;
    font-size: 15px;
}

.searchForm select {
    margin: 5px 5px 5px 0;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    background-color: #fff;
}

.historyTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.historyTable #loading, #noData {
    display: none;
}

.bookmarkTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tools_wrapper .left_tools {
    float: left;
    width: 32%;
}

.tools_wrapper .mid_tools {
    width: 25%;
    float: left;
    margin-right: 12px;
    border: 1px solid #ccc;
    height: 32px;
    border-radius: 4px;
}

.tools_wrapper .right_tools {
    float: left;
    width: 9%;
}

.bookmarkTable .core_item {
    display: none;
}

.bookmarkTable th {
    display: none;
}

.noData p {
    text-align: center;
    color: red;
}

.item .item_info {
    font-weight: bold;
    color: #005cbf;
}

.item .item_info img {
    margin-right: 10px;
}

.item_url a {
    text-decoration-line: none;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
}

.dataTables_wrapper .dataTables_length {
    float: right;
}

.dataTables_wrapper {
    padding: 5px 0 10px;
}

.dataTables_wrapper .dataTables_filter input {
    background-color: #fff;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-left: 0;
    margin-right: 5px;
    width: 215px;
    font-size: 15px;
}

.dataTables_paginate.paging_simple {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.dataTables_wrapper .dataTables_length select {
    background-color: #fff;
    height: 34px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 5px 5px 5px 0;
    margin-left: 5px;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #dddddd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 4px;
    padding: 6px 19px;
    margin-left: 1px;
    margin-right: 1px;
}
.dataTables_wrapper .dataTables_paginate.paging_simple .paginate_button.disabled{
    color: #ccc!important;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}